<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Магазин игр</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <form th:action="@{/registration}" method="post">
            <h1 class="h3 mb-3 fw-normal">Регистрация нового пользователя</h1>

            <div class="form-floating">
                <input type="text" class="form-control mb-1" name="login" id="login" placeholder="Login">
                <label for="login">Логин</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                <label for="password">Пароль</label>
            </div>
            <label th:value="message"></label>
            <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Зарегистрироваться</button>
        </form>
        <form th:action="@{/login}" method="get">
            <button class="w-100 btn btn-lg btn-primary " type="submit">Перейти к авторизации</button>
        </form>
    </div>
</div>
</body>
</html>